%img.img-fluid.mb-4{alt: "sharenite_logo", src: "full-logo-500.png"}/
%p
  = "Sharenite is a way to look at your games when you are away from #{link_to 'Playnite', 'https://playnite.link', target: "_blank"}.".html_safe
%p
  = "If you encounter any issues, you can create a report on #{link_to 'Github', 'https://github.com/sharenite/sharenite', target: "_blank"}. Please do not post feature requests at this time.".html_safe
%p
  = "To follow notifications and updates, join #{link_to 'Discord', 'https://discord.gg/8xEKfsvVR3', target: "_blank"}.".html_safe
%p
  = "Playnite addon can be found on #{link_to 'Github', 'https://github.com/sharenite/playnite-sharenite', target: "_blank"} or in #{link_to 'Playnite Addon Database', 'https://playnite.link/addons.html#Sharenite_62d53f25-4e62-4f27-a49e-89e73cb1fd48', target: "_blank"}.".html_safe
