= form_for [@profile, @playlist] do |f|
  = turbo_frame_tag :playlist_errors do
    = render "playlist_errors"

  .mb-3
    = f.label :name, class: "form-label"
    = f.text_field :name, class: "form-control", aria: { describedby: "playlist_name_help" }
    .form-text#playlist_name_help Name of the playlist.

  .form-check.mb-3
    = f.check_box :private_override, class: "form-check-input"
    = f.label :private_override, "Private override", class: "form-check-label"
    .form-text Hide this playlist even when the profile's global playlist privacy would otherwise allow access.

  .d-flex.flex-wrap.gap-2.mt-3
    = f.submit "Save playlist", class: "btn btn-primary"
    = link_to "Back to playlists", profile_playlists_path(@profile), class: "profiles-action-pill", data: { turbo_frame: "_top" }
