%p
  %strong Name:
  = game.name
%p
  %strong Added:
  = game.added
%p
  %strong Community Score:
  = game.community_score
%p
  %strong Critic Score:
  = game.critic_score
%p
  %strong Description:
  = game.description
%p
  %strong Favorite:
  = game.favorite
%p
  %strong Game Id:
  = game.game_id
%p
  %strong Game Started Script:
  = game.game_started_script
%p
  %strong Hidden:
  = game.hidden
%p
  %strong Include Library Plugin Action:
  = game.include_library_plugin_action
%p
  %strong Install Directory:
  = game.install_directory
%p
  %strong Is Custom Game:
  = game.is_custom_game
%p
  %strong Is Installed:
  = game.is_installed
%p
  %strong Is Installing:
  = game.is_installing
%p
  %strong Is Launching:
  = game.is_launching
%p
  %strong Is Running:
  = game.is_running
%p
  %strong Is Uninstalling:
  = game.is_uninstalling
%p
  %strong Last Activity:
  = game.last_activity
%p
  %strong Manual:
  = game.manual
%p
  %strong Modified:
  = game.modified
%p
  %strong Notes:
  = game.notes
%p
  %strong Play Count:
  = game.play_count
%p
  %strong Playtime:
  = game.playtime
%p
  %strong Plugin Id:
  = game.plugin_id
%p
  %strong Post Script:
  = game.post_script
%p
  %strong Pre Script:
  = game.pre_script
-# %p
-# %strong Release Date:
-# = game.release_date
%p
  %strong Sorting Name:
  = game.sorting_name
%p
  %strong Use Global Game Started Script:
  = game.use_global_game_started_script
%p
  %strong Use Global Post Script:
  = game.use_global_post_script
%p
  %strong Use Global Pre Script:
  = game.use_global_pre_script
%p
  %strong User Score:
  = game.user_score
%p
  %strong Version:
  = game.version
