-# name
-# favorite
-# source
-# last_activity
-# playtime
-# play_count
-# cover_image
-# description
-# background_image ?
-# completion_status
-# categories
-# tags
-# platforms
-# -------------------
-# added
-# modified
-# installation_status ?
-# release_date ?
-# community_score
-# critic_score
-# user_score
-# version
-# notes
-# is_installed
-# is_installing
-# is_launching
-# is_running
-# is_uninstalling
-# publishers
-# developers
-# age_ratings
-# genres
-# features
-# regions
-# links
-# series
.game-details
  %h1.text-center.mb-4
    - if game.is_installed
      %span
        = link_to "playnite://playnite/start/" + game.playnite_id, {class: 'link-dark text-decoration-none'} do
          %i.bi.bi-play
    = game.name
    - if game.favorite
      %i.bi.bi-star-fill.yellow.text-warning
  .row
    .col-sm-12.col-md-6.col-lg-3.text-center
      %p
        %small.text-muted{alt: "test"} platforms platformsss
    .col-sm-12.col-md-6.col-lg-3.text-center
      %p
        %small.text-muted{alt: "test"} completion_status
    .col-sm-12.col-md-6.col-lg-3.text-center
      %p
        %small.text-muted{alt: "test"} categories categories categories
    .col-sm-12.col-md-6.col-lg-3.text-center
      %p
        %small.text-muted{alt: "test"} tags tags tags tags tags
  .card.mb-3
    .row.g-0
      .col-md-4.game-details__cover
        %img.img-fluid.rounded-start{
          alt: "cover_image",
          src: "https://picsum.photos/300/400"
        }/
      .col-md-8
        .card-body
          %h5.card-title.mb-0 source
          .row.mb-4
            .col-auto
              %p.card-text
                %small.text-muted
                  Last activity:
                  - if game.last_activity
                    %abbr{title: "#{game.last_activity}"}
                      = "#{time_ago_in_words(game.last_activity, { include_seconds: true })} ago"
                  - else
                    Never.
            .col-auto
              %p.card-text
                %small.text-muted
                  = "Playtime: #{"%02d:%02d:%02d" % [game.playtime / 3600, game.playtime / 60 % 60, game.playtime % 60]}"
            .col-auto
              %p.card-text
                %small.text-muted
                  = "Play count: #{game.play_count}"
          .row.mb-4
            .col-auto
              - if game.description
                .game-details__description.mb-4
                  = sanitize(game.description)
              %p.card-text
                %small.text-muted
                  Last updated
                  %abbr{title: "#{game.updated_at}"}
                    = "#{time_ago_in_words(game.updated_at, { include_seconds: true })} ago"
  .row.mb-2
    .col-12.col-md-6.col-lg-3.align-items-stretch.d-flex
      .card.mb-2.flex-fill
        .card-body
          %p
            %strong Added:
            - if game.added
              %abbr{title: "#{game.added}"}
                = "#{time_ago_in_words(game.added, { include_seconds: true })} ago"
            - else
              Never.
          %p.mb-0
            %strong Modified:
            - if game.modified
              %abbr{title: "#{game.modified}"}
                = "#{time_ago_in_words(game.modified, { include_seconds: true })} ago"
            - else
              Never.
    .col-12.col-md-6.col-lg-3.align-items-stretch.d-flex
      .card.mb-2.flex-fill
        .card-body
          %p
            %strong User Score:
            = game.user_score
          %p
            %strong Community Score:
            = game.community_score
          %p.mb-0
            %strong Critic Score:
            = game.critic_score
    .col-12.col-md-6.col-lg-3.align-items-stretch.d-flex
      .card.mb-2.flex-fill
        .card-body
          %p
            %strong Version:
            = game.version
          %p.mb-0
            %strong Notes:
            = game.notes
          -# %p
          -# %strong Release Date:
          -# = game.release_date
    .col-12.col-md-6.col-lg-3.align-items-stretch.d-flex
      .card.mb-2.flex-fill
        .card-body
          %p
            %strong Is Custom Game:
            = game.is_custom_game
          %p
            %strong Is Installed:
            = game.is_installed
          %p
            %strong Is Installing:
            = game.is_installing
          %p
            %strong Is Launching:
            = game.is_launching
          %p
            %strong Is Running:
            = game.is_running
          %p.mb-0
            %strong Is Uninstalling:
            = game.is_uninstalling
  .row
    .col-12.align-items-stretch.d-flex
      .card.mb-2.flex-fill
        .card-body
          %p
            %strong Game Id:
            = game.game_id
          %p
            %strong Game Started Script:
            = game.game_started_script
          %p
            %strong Hidden:
            = game.hidden
          %p
            %strong Include Library Plugin Action:
            = game.include_library_plugin_action
          %p
            %strong Install Directory:
            = game.install_directory
          %p
            %strong Manual:
            = game.manual
          %p
            %strong Playnite ID:
            = game.playnite_id
          %p
            %strong Plugin Id:
            = game.plugin_id
          %p
            %strong Post Script:
            = game.post_script
          %p
            %strong Pre Script:
            = game.pre_script
          %p
            %strong Sorting Name:
            = game.sorting_name
          %p
            %strong Use Global Game Started Script:
            = game.use_global_game_started_script
          %p
            %strong Use Global Post Script:
            = game.use_global_post_script
          %p.mb-0
            %strong Use Global Pre Script:
            = game.use_global_pre_script
  -# added_segment
  -# age_rating_ids
  -# category_ids
  -# community_score_group
  -# community_score_rating
  -# completion_status_id
  -# critic_score_group
  -# critic_score_rating
  -# developer_ids
  -# feature_ids
  -# game_actions
  -# game_id
  -# game_started_script
  -# genre_ids
  -# hidden
  -# icon
  -# id
  -# include_library_plugin_action
  -# install_directory
  -# is_custom_game
  -# last_activity_segment
  -# manual
  -# modified_segment
  -# platform_ids
  -# playtime_category
  -# post_script
  -# pre_script
  -# publisher_ids
  -# region_ids
  -# release_year
  -# roms
  -# series_ids
  -# sorting_name
  -# source_id
  -# tag_ids
  -# use_global_game_started_script
  -# use_global_post_script
  -# use_global_pre_script
  -# user_score_group
  -# user_score_rating
  -# plugin_id
