- unless @sync_jobs.nil? || @sync_jobs.count.zero?
  .alert.alert-primary
    = "There's a synchronisation still being processed:"
    .br
    - @sync_jobs.each do |sync_job|
      = "Registered: #{sync_job.created_at}, status: #{sync_job.status}."
      .br
.row
  .col-12
    = render "search_form"
= render 'games', games: @games
