.text-center.form-signin.w-100.m-auto
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false } }) do |f|
    %h1.h3.mb-3.fw-normal Log in
    .form-floating
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control top', placeholder: 'name@example.com'
      = f.label :email
    .form-floating
      = f.password_field :password, autocomplete: "current-password", class: 'form-control bottom',placeholder: 'Password'
      = f.label :password
    - if devise_mapping.rememberable?
      .checkbox.mb-3
        = f.check_box :remember_me
        = f.label :remember_me
    .form-floating
      = recaptcha_tags
    .actions.mt-2
      = f.submit "Log in", class: "w-100 btn btn-lg btn-primary"
    .mt-2
      = render "devise/shared/links"
