%body
  %header.p-3.text-bg-dark
    .container
      .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
        - pending_count = pending_friend_invites_count
        - pending_count_label = pending_count > 99 ? "99+" : pending_count
        - profile = current_profile
        - viewed_profile = local_assigns.fetch(:profile, nil) || instance_variable_get(:@profile)
        - own_viewed_profile = current_user.present? && viewed_profile.present? && viewed_profile.user_id == current_user.id
        - my_profile_active = own_viewed_profile && controller_path == "profiles/profiles"
        - my_games_active = own_viewed_profile && controller_path == "profiles/games"
        - my_friends_active = own_viewed_profile && controller_path == "profiles/friends"
        - my_playlists_active = own_viewed_profile && controller_path.start_with?("profiles/playlists/")
        - active_nav_class = ->(active, default_color = "text-white") { "nav-link px-2 #{active ? 'active text-white' : default_color}" }
        %ul.nav.col-10.col-sm-auto.me-sm-auto.mb-2.justify-content-center.mb-md-0
          %li
            = link_to 'Home', root_path, class: active_nav_class.call(current_page?(root_path), "text-secondary")
          - if current_user
            %li
              = link_to 'My Profile', profile_path(profile), class: active_nav_class.call(my_profile_active)
            %li
              = link_to 'My Games', profile_games_path(profile), class: active_nav_class.call(my_games_active)
            %li
              = link_to profile_friends_path(profile, tab: "friends"), class: active_nav_class.call(my_friends_active) do
                %span My Friends
                - if pending_count.positive?
                  %span.badge.rounded-pill.text-bg-danger.ms-1.align-middle
                    %i.bi.bi-bell-fill.me-1
                    = pending_count_label
            %li
              = link_to 'My Playlists', profile_playlists_path(profile), class: active_nav_class.call(my_playlists_active)
          %li
            - community_active = current_page?(profiles_path) || (viewed_profile.present? && !own_viewed_profile)
            = link_to 'Community', profiles_path, class: active_nav_class.call(community_active)
          -#
            -# %form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3{role: "search"}
            -# %input.form-control.form-control-dark.text-bg-dark{"aria-label" => "Search", placeholder: "Search...", type: "search"}

        .col-auto.text-end
          - if user_signed_in?
            .dropdown.text-end
            %a.d-block.link-dark.text-decoration-none.dropdown-toggle{"aria-expanded": "false", "data-bs-toggle": "dropdown", href: "#", style: ""}
              %img.rounded-circle{alt: "mdo", height: "32", src: "/person.png", width: "32"}/
            %ul.dropdown-menu.text-small{style: ""}
              %li
                = link_to 'Account settings', edit_user_registration_path,  class: 'dropdown-item'
              %li
                = link_to 'Edit profile', edit_profile_path(profile),  class: 'dropdown-item'
              %li
                %hr.dropdown-divider/
              %li
                = button_to "Logout", destroy_user_session_path, class: 'dropdown-item', method: :delete
          - else
            .text-end
              = link_to 'Login', new_user_session_path, class: 'btn btn-outline-light me-2', type: "button"
              = link_to 'Sign-up', new_user_registration_path, class: 'btn btn-primary', type: "button"
