<!DOCTYPE html>
<html>
  <head>
    <title>Sharenite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if Rails.env.production? %>
      <p class="production-server-message">
        APPLICATION IN BETA - EVERYTHING MIGHT BREAK
      </p>
    <% else %>
      <p class="test-server-message">
        <%= Rails.env.upcase %> SERVER
      </p>
    <% end %>
    <nav>
     
    </nav>
    <main class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
