!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Sharenite
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    - if Rails.env.production?
      %p.bg-info.text-dark.text-center.m-0
        APPLICATION IN BETA - EVERYTHING MIGHT BREAK
    - else
      %p.bg-danger.text-white.text-center.m-0
        = Rails.env.upcase
        SERVER
    = render 'layouts/navbar'
    %main.container.pt-4
      - flash.each do |type, msg|
        .alert{class: flash_class(type)}
          = msg
      = yield
